*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: aquamarine;
    background-image: url('https://t1.ev.ltmcdn.com/es/posts/1/2/8/caracteristicas_del_planeta_tierra_que_hacen_posible_la_vida_1821_orig.jpg');
    /*Esto es para arreglar/acomodar imagen de fondo*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*filter: blur(6px); esto es para difuminar imagen*/ 
}
.container .buscador{
    height: 60px;
    width: 100%;
    position: absolute;
    left: 1%;
    top: 5%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.container input{
    height: 50px;
    width: 300px;
    margin: 0 20px;
    padding: 0 20px;
    outline: none;
    background: #ffffff99;
    font-size: 20px;
    border-radius: 25px 10px 5px;
}

.container input::placeholder{
  color: black;  
}

.container input[type="submit"]{
    cursor: pointer;
    width: 150px;
    background: #fff;
    font-weight: 700;
    font-size: 22px;
}

.iconoClima {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 15%;
    left: -2%;
}

.paisCiudad{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 3%;
    color: white;
}

.temperatura{
    font-size: 40px;
    position: absolute;
    top: 55%;
    left: 3%;
    color: white;
}

.descripcion{
    font-size: 30px;
    position: absolute;
    bottom: 35%;
    left: 3%;
    color: white;
}

.container ul {
    position: absolute;
    bottom: 3%;
    left: 3%;
    list-style-type: none;
    color: white;
}

.container ul li {
    font-size: 22px;
    margin: 20px 0;
}